.summary {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  height: 45px;
}
.summary-text,
.summary-reward {
  font-size: large;
  padding: 10px;
  text-transform: uppercase;
}
.summary-text {
  background: gray;
  color: white;
}
.summary-reward {
  background: #00a65a;
  color: white;
}
